

@media(min-width: 1000px) {
	.preview {
		flex-direction: column;
		width: 100%;
		max-width: 400px;
	}
	.text {
		padding: 5px 20px 10px 20px;
	}
	.previewImage, .previewImage > div, .previewImage img {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		align-self: center;
	}
	.alink {
		width: 100%;
		margin: 0 10px;
	}
	.name {
		font-size: 1.5em;
	}
	.priceAmount
	{
		font-size: 1.2em;
	}
	.priceCurrency
	{
		font-size: 1.0em;
	}
}


@media(max-width: 1000px) and (min-width: 500px) {
	.preview {
		flex-direction: column;
	}
	.previewImage, .previewImage > div, .previewImage img {
		width: 100%;
		align-self: center;
	}
	.alink, .preview {
		width: 100%;
	}
	.text
	{
		margin: 10px;
	}
	.name {
		font-size: 1.2em;
	}
	.priceAmount
	{
		font-size: 1.0em;
	}
	.priceCurrency
	{
		font-size: 0.8em;
	}
}

@media(max-width: 500px) {
	.preview {
		flex-direction: column;
	}
	.previewImage, .previewImage > div, .previewImage img {
		width: 100%;
		align-self: center;
	}
	.alink, .preview {
		width: 100%;
	}
	.text
	{
		margin: 10px;
	}
	.name {
		font-size: 1.0em;
	}
	.priceAmount
	{
		font-size: 1.0em;
	}
	.priceCurrency
	{
		font-size: 0.8em;
	}
}

.name {
	font-weight: bold;
	color: var(--light_red);
	margin: 0px 0; 
}

.price
{
    display: inline-flex;
    align-items: baseline;
}

.priceAmount, .priceCurrency
{
    color: rgb(66, 66, 66);
}

.priceAmount
{
	margin: 0;
}

.priceCurrency
{
	margin: 0 0 0 5px;
}

.previewImage img 
{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.alink {
	text-decoration: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
	.preview:hover {
		background-color: #d8d8d8;
		filter: brightness(90%);
	}
}

.preview {
	display: flex;
	text-decoration: none;
    margin: 0;
	box-shadow: 0 10px 12px rgba(0,0,0,.1), 5px 15px 10px rgba(0, 0, 0, 0.1);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
	border-color: #A0A0A0;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	background: #ffffff; 
	max-width: 1300px;
	border-radius: 15px;
}