.pageNumberParent {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    padding: 0px;
  }
  
  .pageNumberItem > span, .selectedPageItem > span, .pageLabel > span {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .pageNumberItem > span {
    pointer-events: all;
    color: black;
  }
  
  .selectedPageItem > span {
    color: white; 
    background-color: var(--light_red);
  }
  
  .pageNumberItem
  {
    margin: 0 5px;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .pageNumberParent:hover {
      cursor: pointer;
    }
  }
  
  .pageNumberItem > span:active {
    background-color: lightgray;
    color: var(--light_red);
  }
  
  .pageNumberItem > span:hover:not(.active) {
    background-color: #ddd;
    color: var(--light_red);
  }