.title {
  padding: 20px 10px 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

.horizontalLine 
{
  color: gray;
  width: 90%;
  margin-top: 50px;
}

.publishDate 
{
  font-style: italic;
  display: block;
  margin-top: 0px;
  margin-bottom: 50px;
}

.browseAllButton
{
  margin: 10px;
}

.links
{
  text-decoration: none;
}

.richText 
{
  display: flex;
  flex-direction: column;
}

@media(max-width: 760px)
{
  .richText img 
  {
    max-width: 100vw;
  }
}

@media(min-width: 760px)
{
  .richText img 
  {
    max-width: 760px;
  }
}
.richText img 
{
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: center;
}

.richText h2
{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
}

.richText h3 
{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
}

.richText h4
{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
}

.richText h5
{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
}
