.horizontalLine 
{
  color: gray;
  width: 90%;
  margin-top: 50px;
}

.publishDate 
{
  font-style: italic;
  display: block;
  margin-top: -25px;
  margin-bottom: 50px;
}

.browseAllButton
{
  margin: 10px;
}

.links
{
  text-decoration: none;
}