.horizontalLine 
{
  color: gray;
  width: 90%;
  margin-top: 50px;
}

.publishDate 
{
  font-style: italic;
  display: block;
  margin-top: -25px;
  margin-bottom: 50px;
}

.browseAllButton
{
  margin: 10px;
}

.links
{
  text-decoration: none;
}

.richText 
{
  display: flex;
  flex-direction: column;
}

.richText img 
{
  max-width: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: center;
}