.title {
	padding: 20px 10px 0.1em 0;
	margin: 0px;
	font-weight: bold;
	font-size: 2.3em;
	color: var(--dark_red);
}

.publishDate 
{
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	color: rgb(34, 34, 34);
}

.bodyParent
{
	display: flex;
	justify-content: center;
}

.body
{
	display: flex;
	justify-content: center;
	max-width: 1000px;
	flex-direction: column;
	margin-top: 30px;
}


.subtitle
{
    color: var(--light_red);
    margin-bottom: 0px;
}

.transcriptInvisible 
{
    height: 200px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  color: transparent;
  overflow: hidden;
  background-clip: text;
}

.expandTranscriptParent 
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.expandTranscript
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

@media (hover: hover) and (pointer: fine) {
    .expandTranscript:hover 
    {
        color: var(--dark_red);
    }
}

.expandTranscript p 
{
    font-size: 18px;
}

