@media(min-width: 1000px)
{
    .layout
    {
        display: inline-flex;
        width: 100%;
    }
    .preview, .information
    {
        width: 50%;
    }
    .name 
    {
        margin: 0 0;
    }
    .information
    {
        margin-left: 30px;
    }
}

@media(max-width: 1000px)
{
    .layout
    {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .preview, .information
    {
        width: 100%;
    }
    .name 
    {
        margin: 50px 0 0 0;
    }
}

.preview 
{
    display: flex;
    flex-direction: column;
}


.carousel
{
    height: 70%;
    max-height: 70%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.leftArrow, .rightArrow
{
    cursor: pointer;
    width: 30px;
    height: 30px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (hover: hover) and (pointer: fine) {
    .leftArrow:hover, .rightArrow:hover
    {
        color: var(--light_red);
    }
}

.leftArrow 
{
    margin: 0 10px 0 0;
}
.rightArrow 
{
    margin: 0 0 0 10px;
}

.image
{
    max-width: 400px;
    max-height: 400px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.image > div
{
    width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.thumbnailRow
{
    height: 50px;
    display: inline-flex;
    justify-content: center;
    padding: 30px 0;
}

.thumb, .selectedThumb
{
    cursor: pointer;
    height: 100%;
    width: 50px;
    margin: 0 10px;
    border-radius: 3px;
}

.thumb
{
    border: 2px solid rgb(97, 97, 97);
}

.selectedThumb
{
    border: 2px solid var(--light_red)
}

.name 
{
    font-size: 2.0em;
    font-weight: bold;
}

.price
{
    display: inline-flex;
    align-items: baseline;
}

.priceAmount, .priceCurrency
{
    margin: 10px 0px;
    color: var(--light_red);
    font-weight: bold;
}

.priceAmount
{
    font-size: 1.5em;
}

.priceCurrency
{
    font-size: 1.0em;
    margin-left: 5px;   
}

.memberPrice
{
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

.memberPrice > svg
{
    color: gray;
}

.memberPrice > p
{
    margin: 0 10px;
    font-size: 1.0em;
}

.description 
{
    line-height: 20px;
}

.description > h2 
{
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.description > p
{
    font-size: 16px;
}

.inventory, .addToCart
{
    display: inline-flex;
    align-items: center;
}

.inventory > p, .addToCart > p, .changeCart > p
{
    margin-left: 10px;
    margin-right: 10px;
}

.icon_shoppingBag
{
    color: rgb(0, 136, 0);
}

.icon_redx
{
    color: rgb(233, 0, 0);
}

.icon_shoppingCart
{
    color: white;
}

.addToCart, .changeCart, .checkout
{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 600px;
    border-radius: 5px;
    color: white;
    margin: 10px auto;
}

@media (hover: hover) and (pointer: fine) {
    .addToCart:hover
    {
        background-color: var(--dark_red);
    }
    .checkout:hover
    {
        background-color: #18776e;
    }
}

.addToCart
{
    background-color: var(--light_red);
    cursor: pointer;
}

.changeCart
{
    background-color: var(--dark_red);
}

.icon_minus, .icon_plus
{
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    .icon_minus:hover, .icon_plus:hover {
        scale: 1.2;   
    }
}

.checkout
{
    background-color: var(--dark_turq);
    text-decoration: none;
}

.checkout p 
{
    margin-left: 10px;
}