.background {
    z-index: 400;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.textContent {
    width: 100%;
}

.blocker {
    display: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.266);
}

.modal {
    border-radius: 15px;
    position: fixed;
    background-color: white;
    box-shadow: 0 10px 12px rgba(0,0,0,.1), 5px 15px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 760px) {
    .modal {
        left: 2.5vw;
        top: 2.5vh;
        width: 95vw;
        height: 95vh;
    }
}

@media (max-width: 1000px) {
    .modalLayout {
        flex-direction: column;
    }
    .textContent {
        margin-top: 25px;
    }
}

@media (min-width: 760px) {
    .modal {
        left: 10vw;
        top: 10vh;
        width: 80vw;
        height: 80vh;
    }
    
}

@media (min-width: 1000px) {
    .modalLayout {
        flex-direction: row;
    }
    .textContent {
        margin: 0 2em 0 2em;
    }
}

.modalPadding {
    margin: 50px 30px 30px 30px;
    height: calc(100% - 100px);
    overflow: auto;
    box-sizing: border-box;
}

.modalContent {
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.modalLayout {
    margin-right: 15px;
    display: flex;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (hover: hover) and (pointer: fine) {
    .closeButton:hover {
        color: var(--light_red);
        cursor: pointer;
    }
}

.title {
    font-size: 1.5em;
    margin-top: 0;
}

.image {
    margin-right: 15px;
}

.image, .image div, .image img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.subtitle {
    margin-top: auto;
    margin-bottom: 0;
}

.datetime {
    margin: 0;
}

.location > p {
    margin-top: 0;
}

.description > p {
    margin: 0;
    font-size: 1em;
}

.articleLink, .description a, .location a
{
	text-decoration: none;
    color:var(--link_color);
}

.articleLink:hover, .description a:hover, .location a:hover
{
    text-decoration: underline;
}
