.footerItem {
	display: flex;
    flex-direction: column;
	align-items: baseline;
	color: white;
}

.footerItem a {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.parentLink {
	color: rgb(66, 66, 66);
}

.footerItem a:hover{
	color:var(--primary);
}

.dropdownContainer {
    width: 100%;
    left: 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.childLink {
    text-align: center;
    color: rgb(100, 99, 99);
    font-size: 0.80em;
}

@media(min-width: 760px) {
    .footerItem {
        margin: 0 0px; 
		padding: 0 1vw;
    }

    .parentItem a { 
		min-width: 50px;
	}    
}

@media(max-width: 900px) { 
    .footerItem {
		justify-content: center;
		font-size: 1.25em;
	}

    .parentItem {
		display: grid;
		justify-content: center;
	}
} 