.header {
	z-index: 300;
	position: relative;
	display: flex;
	background-color: white;
}

.navExpand {
	width: auto;
	float: right;
	flex-grow: 1;
	z-index: 300;
}

.navigation {
	display: flex;
	list-style: none;
	font-size: 1.25em;
}

.closeItem {
	display: inline-flex;
	font-size: .9em;
	color: red;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.toggle {
	display: inline-flex;
	align-items: center;
}

.logo {
	cursor: pointer;
}

.images, .logo, .logo img, .logo div {
	max-height: 100%;
}

@media(max-width: 760px) {

	.logo, .logo img, .logo div {
		height: 60px;
		width: 60px;
	}

	.logo 
	{
		height: 100%;
		align-items: center;
		margin: 5px;
		flex-grow: 1;
	}

	.images {
		flex-direction: row;
		display: inline-flex;
		height: 70px;
		padding: 0px 0px;
	}

	.header {
		flex-direction: column;
		box-shadow: 0 5px 2px -2px rgb(161, 161, 161);
	}

	.navExpand {
		padding: 0;
		margin: 0;
		height: 0;
	}
	
	.toggle {
		justify-content: center;
		height: 70px;
		width: 70px;
	}

	.hamburger {
		width: 40px;
		height: 40px;
		cursor: pointer;
		background-size: cover
	}
	
	.navigation {
		flex-direction: column;
		height: auto;
		position: fixed;
		width: 100vw;
		background-color: white;
		padding: 0px 0px 10px 0px; 
		margin: 0;
		box-shadow: 0px 10px 5px -5px var(--navigation_fade);
		top: 70px;
	} 
	
	.scrollDisable {
		height: 100vh;
		overflow: hidden;
	}
	
	.blocker {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0px;
		left: 0px;
		z-index: 200;
		pointer-events: none;
		background-color: rgb(45, 33, 33);
		opacity: 0.5;
	}
	
	.hamburger img {
		width: 100%;
		height: 100%;
	}
	
	.fadeIn { 
		
		animation: fadeIn ease 0.5s;
		-webkit-animation: fadeIn ease 0.5s;
		-moz-animation: fadeIn ease 0.5s;
		-o-animation: fadeIn ease 0.5s;
		-ms-animation: fadeIn ease 0.5s;
		
	}

	.fadeOut {
		visibility: hidden;
	}
}

/* Logo size  */
@media (min-width: 1200px) {
	.logo, .logo img, .logo div {
		width: 90px;
		height: 90px;
	}
} 

@media (min-width: 760px) and (max-width: 1200px)
{
	.logo, .logo img, .logo div {
		width: 75px;
		height: 75px;
	}
}

@media(min-width: 760px) {
	.header {
		height: 100px;
		padding: 1vh 5vw 0 5vw;
		align-items: center;
		box-shadow: 0 4px 2px -2px rgb(161, 161, 161);
		flex-direction: row;
	}

	.blocker {
		visibility: hidden;
		height: 0px;
		width: 0px;
	}
	
	.closeItem {
		position: absolute;
		visibility: hidden;
	}
	
	.toggle {
		visibility: hidden;
	}
	
	.navigation {
		background-color: white;
		padding: 0px 0px 0px 0px; 
		height: 50px;
		float: right;
	}

	.navExpand {
		height: 50px;
	}
}

@keyframes fadeIn {
	0% { opacity:0; top: -70px; pointer-events: none; } 50% {opacity: 0.2;} 100% { opacity:1; top: 70px } 
}

@-moz-keyframes fadeIn {
	0% { opacity:0; top: -70px; pointer-events: none;  } 50% {opacity: 0.2;} 100% { opacity:1; top: 70px } 
}

@-webkit-keyframes fadeIn {
	0% { opacity:0; top: -70px; pointer-events: none;  } 50% {opacity: 0.2;} 100% { opacity:1; top: 70px } 
}

@-o-keyframes fadeIn {
	0% { opacity:0; top: -70px; pointer-events: none;  } 50% {opacity: 0.2;} 100% { opacity:1; top: 70px } 
}

@-ms-keyframes fadeIn {
	0% { opacity:0; top: -70px; pointer-events: none;  } 50% {opacity: 0.2;} 100% { opacity:1; top: 70px } 
}

