nav {
	z-index: 300;
}

.header {
	z-index: 300;
	display: flex;
	position: relative;
	background-color: white;
	box-sizing: border-box;
	width: 100%;
}

.sticky .header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 0.3s ease-in;
}

.nonsticky .header {
	position: relative;
}

.navExpand {
	width: auto;
	float: right;
	flex-grow: 1;
	z-index: 300;
}

.navigation {
	display: flex;
	list-style: none;
	margin: 0;
}

.closeItem {
	display: inline-flex;
	font-size: .9em;
	color: red;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.toggle {
	display: inline-flex;
	align-items: center;
}

.logoStyle {
	cursor: pointer;
}

.images,
.logoStyle,
.logoStyle img,
.logoStyle div {
	max-height: 100%;
}

@media(max-width: 400px) {
	.navigation {
		font-size: 0.9em;
	}
}

@media(min-width: 400px) and (max-width: 760px) {
	.navigation {
		font-size: 0.9em;
	}
}

@media(min-width: 760px) and (max-width: 1400px) {
	.navigation {
		font-size: 1.2em;
	}
}

@media(min-width: 1400px) {
	.navigation {
		font-size: 1.3em;
	}
}

@media(max-width: 760px) {

	.logoStyle,
	.logoStyle img,
	.logoStyle div {
		height: 60px;
		width: 60px;
	}

	.logoStyle {
		height: 100%;
		margin: 5px;
		flex-grow: 1;
	}

	.sticky,
	.nonsticky {
		height: 70px;
	}

	.images {
		flex-direction: row;
		display: inline-flex;
		height: 70px;
		padding: 0px 0px;
	}

	.header {
		flex-direction: column;
		box-shadow: 0 5px 2px -2px rgb(161, 161, 161);
	}

	.navExpand {
		padding: 0;
		margin: 0;
		height: 0;
	}

	.toggle {
		justify-content: center;
		height: 70px;
		width: 70px;
	}

	.hamburger {
		width: 40px;
		height: 40px;
		cursor: pointer;
		background-size: cover
	}

	.navigation {
		flex-direction: column;
		height: auto;
		position: fixed;
		width: 100vw;
		background-color: white;
		margin: 0;
		padding: 0px 0px 10px 0px;
		margin: 0;
		box-shadow: 0px 10px 5px -5px var(--navigation_fade);
		top: 0;
	}

	.scrollDisable {
		height: 95vh;
		height: -moz-calc(100vh - 70px);
		height: -webkit-calc(100vh - 70px);
		height: -o-calc(100vh - 70px);
		height: calc(100vh - 70px);
		overflow: hidden;
	}

	.blocker {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0px;
		left: 0px;
		z-index: 200;
		pointer-events: none;
		background-color: rgb(45, 33, 33);
		opacity: 0.5;
	}

	.hamburger img {
		width: 100%;
		height: 100%;
	}

	.fadeIn {

		animation: fadeIn ease 0.5s;
		-webkit-animation: fadeIn ease 0.5s;
		-moz-animation: fadeIn ease 0.5s;
		-o-animation: fadeIn ease 0.5s;
		-ms-animation: fadeIn ease 0.5s;

	}

	.fadeOut {
		display: none;
	}
}

/* logoStyle size  */
@media (min-width: 1200px) {
	.nonsticky {

		.logoStyle,
		.logoStyle img,
		.logoStyle div {
			width: 90px;
			height: 90px;
		}
	}

	.sticky {

		.logoStyle,
		.logoStyle img,
		.logoStyle div {
			width: 70px;
			height: 70px;
		}
	}
}

@media (min-width: 760px) and (max-width: 1200px) {
	.nonsticky {
		.logoStyle,
		.logoStyle img,
		.logoStyle div {
			width: 75px;
			height: 75px;
		}
	}

	.sticky {
		.logoStyle,
		.logoStyle img,
		.logoStyle div {
			width: 60px;
			height: 60px;
		}
	}
}

@media(min-width: 760px) {
	.header {
		padding: 20px 5vw 20px 5vw;
		box-shadow: 0 4px 2px -2px rgb(161, 161, 161);
		flex-direction: row;
		
	}

	.nonsticky .header {
		padding: 20px 5vw 20px 5vw;
		align-items: end;
	}

	.sticky .header {
		padding: 5px 5vw 5px 5vw;
		align-items: center;
	}

	/* .sticky,
	.nonsticky,
	.header {
		height: 100px;
	} */

	.blocker, .dropdownTop, .closeItem, .toggle {
		display: none;
	}

	.navigation {
		background-color: white;
		padding: 0px 0px 0px 0px;
		float: right;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		top: -70px;
		pointer-events: none;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
		top: 0
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
		top: -70px;
		pointer-events: none;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
		top: 0
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		top: -70px;
		pointer-events: none;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
		top: 0
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
		top: -70px;
		pointer-events: none;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
		top: 0
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
		top: -70px;
		pointer-events: none;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
		top: 0
	}
}