.actionContainer
{
    display: flex;
    justify-content: center;
}

.infoText 
{
    margin: 15px;
}

.infoTextLeft, .infoTextRight
{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.infoTextLeft h1, .infoTextRight h1
{
    font-size: 3.0em;
    color: var(--peach);
}

@media(max-width: 760px)
{
    .actionsGrid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .actionContainer 
    {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .sketch 
    {
        width: 80%;
    }
}

@media(min-width: 760px)
{
    .actionsGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .infoTextLeft, .infoTextRight
    {
        width: 40%;
        padding: 30px;
        box-sizing: border-box;
    }

    .actionContainer 
    {
        display: flex;
        flex-direction: row;
        height: 80vh;
        max-height: 100vh;
    }

    .sketch 
    {
        width: 55%;
        max-height: 100%;
    }

    .infoTextRight h1, .infoTextRight p 
    {
        text-align: right;
    }

    .infoTextLeft h1, .infoTextLeft p
    {
        text-align: left;
    }
}