.sponsorBox {
    padding: 50px 25px 50px 25px;
}

.preferredSponsorsTitle {
    text-align: center;
    color: var(--primary);
    margin: 0px;
}

.divider {
    height: 20px;
}

@media (max-width: 760px)
{
    .logoContainer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px;
    }
    .logo {
        height: 80px;
        max-height: 80px;
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: auto;
    }
}

@media (min-width: 760px)
{
    .logo{
        height: 100%; 
    }
    .logoContainer {
        display: flex;
        flex-direction: row;
        height: 100px;
        gap: 20px;
    }
}

.logoContainer { 
    justify-content: center;
    width: 100%;
}

.secondarySponsorsTitle { 
    margin: 5px;
    font-size: 1.5em;
    text-align: center;
    color: var(--primary)
}
