.parentContainer
{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.parentTitle
{
    text-align: center;
    font-weight: bolder;
}

.items 
{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}

.itemContainer
{
    display: grid;
    flex-direction: column;
}

.itemNumber, .itemTitle, .itemSubtitle
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.itemTitle 
{
    margin-top: 0;
}

.itemSubtitle
{
    margin-bottom: 0;
}

.itemNumber
{
    font-weight: bolder;
    color: var(--light_red);
}

.itemSubtitle
{
    color: gray;
}

@media(max-width: 760px)
{
    .parentContainer
    {
        padding: 50px;
    }
    .items 
    { 
        flex-direction: column;
    }
    .itemContainer
    {
        padding: 5px;
    }
}

@media(max-width: 300px) { 
    .itemNumber { font-size: 2.0em; }
    .itemTitle { font-size: 1.5em; }
    .itemSubtitle { font-size: 1.0em; }
    .itemContainer { padding: 25px }
} 
@media(min-width: 300px) { 
    .itemNumber { font-size: 3.0em; }
    .itemTitle { font-size: 2.0em; }
    .itemSubtitle { font-size: 1.0em; }
    /* .parentContainer { padding-top: 20vh; padding-bottom: 20vh;} */
} 
@media(min-width: 500px) { 
    .itemNumber { font-size: 4.0em; }
    .itemTitle { font-size: 2.0em; }
    .itemSubtitle { font-size: 1.2em; }
} 
@media(min-width: 760px) { 
    .itemNumber { font-size: 4.0em; }
    .itemTitle { font-size: 2.0em;  }
    .itemSubtitle { font-size: 1.5em;  }
    /* .parentContainer { padding-top: 30vh; padding-bottom: 30vh;} */
    .itemContainer { padding: 0 5vw 0 5vw }
} 
@media(min-width: 1000px) { 
    .itemNumber { font-size: 5em; }
    .itemTitle { font-size: 2.0em;  }
    .itemSubtitle { font-size: 1.5em;  }
    /* .parentContainer { padding-top: 30vh; padding-bottom: 30vh;} */
    .itemContainer { padding: 0 5vw 0 5vw }
} 


