.updates {
	background-color: white;
	display: flex;
	flex-direction: column;
}

.title {
	align-self: center;
	margin-bottom: 5px;
	line-height: 1em;
}

.updates > h2 {
	color: var(--dark_red);
	display: flex;
	justify-content: center;
	margin: 0px;
	text-align: center;
}

.previewParent {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}



@media(min-width: 1000px) {
	.preview {
		flex-direction: column;
		width: 100%;
		max-width: 400px;
		height: 100%;
		display: flex;
		text-decoration: none;
		margin: 0;
		box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
		transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
		border-radius: 15px;
		border-color: #A0A0A0;
		-moz-transition: all .2s ease-in;
		-o-transition: all .2s ease-in;
		-webkit-transition: all .2s ease-in;
		transition: all .2s ease-in;
		background: #ffffff; 
	}
	.previewText {
		padding: 5px 20px 10px 20px;
	}
	.previewParent {
		flex-direction: row;
		justify-content: center;
	}
	.previewImage, .previewImage > div, .previewImage img {
		width: 100%;
		height: 60vh;
		max-height: 300px;
		align-self: center;
	}
	.previewImage img {
		border-radius: 15px 15px 0 0;
	}
	.alink {
		width: 100%;
		height: 100%;
		max-width: 300px;
	}
}

@media(max-width: 1000px) {
	.preview {
		flex-direction: row-reverse;
		max-width: 100%;
		min-height: 150px;
		display: flex;
		text-decoration: none;
		background: #ffffff; 
	}
	.previewText {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.previewParent {
		flex-direction: column;
	}
	.previewImage, .previewImage > div, .previewImage img {
		max-width: 100px;
		max-height: 100px;
		width: 30vh;
		height: 30vh;
		align-self: center;
	}
	.previewImage img {
		border-radius: 10px;
	}
	.alink, .preview {
		width: 100%;
	}
	.updates {
		padding: 50px 10px 50px 10px;
	}
}

.previewTitle {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 5px 0 0; 
}

.previewDescription p {
	padding: 0px;
	margin: 0px;
	color: black;
}

.previewPublishDate {
	font-size: 1.0em;
	color: gray;
}

.previewArticleType {
	font-size: 0.9em;
	color: rgb(59, 59, 59);
}

.alink {
	text-decoration: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
    
}

@media (hover: hover) and (pointer: fine) {
	.preview:hover {
		background-color: #d8d8d8;
		filter: brightness(90%);
	}
}

@media (max-width: 1000px) {
	.previewImage {
		margin: 10px 0 10px 10px;
	}

	.previewParent {
		margin: 10px 0;
	}

	.cardParent {
		margin: 15px 5px;
	}
}

@media (min-width: 1000px) {
	.previewImage {
		margin: 0;
	}

	.previewParent {
		margin: 10px;
	}

	.cardParent {
		margin: 10px;
	}
}

.tag {
	color: #A0A0A0;
	text-decoration: none;
	display: inline-block;
	padding: .33333rem .5rem;
	line-height: 1;
	border-radius: 2px;
	border: 1px solid #A0A0A0;
	margin-right: .5em;
}