
@media(min-width: 760px) {
    .contactBox {
        height: 500px;
        flex-direction: row;
    }

    .imageCover {
        height: 500px;
    }

    .imageCover > div {
        height: 500px; 
        width: 100%; 
    }

    .contactBoxSide
    {
        width: 50%;
    }
    
}

@media(max-width: 760px) {

    .slideshow {
        height: 750px;
    }

    .contactBox {
        height: 700px;
        flex-direction: column;
    }
    
    .contactBoxSide {
        width: 100%;
    }

    .imageCover {
        height: 750px;
    }

    .imageCover > div {
        height: 750px; 
        width: 100%; 
    }

    .contactBoxDescription {
        margin-bottom: 5px;
    }
}

.contactBox {
    top: 0px;
    position: relative;
    left: 0px;
    display: flex;
}

.contactBoxSide {
    position: relative;
    top: 0px;
    height: 100%;
    background-size: cover;
    display: flex;
}

.contactBoxSideText {
    align-self: center;
    height: fit-content;
    z-index: 2;
}

.contactBoxTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--primary);
    margin-bottom: 0px;
}

.contactBoxDescription {
    margin: 20px 5vw 30px 5vw;
    text-align: center;
    color: white;
}

.slideshow {
    width: 100%;
    position: relative;
    background-color: rgb(209, 209, 209);
    display: flex;
    justify-content: center;
}

.imageCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.imageLayer {
    background-color: rgba(24, 24, 24, 0.7);
    z-index: 0;
    position: absolute;
}

.imageCover > div {
    height: 100%;
    width: 100%;
}
