.footer {
	background-color: white;
	margin: 0;
	box-shadow: 0 -2px 1px 0px var(--navigation_fade);
	width: 100%;
}

.footerTop
{
	box-sizing: border-box;
	width: 100%;
}

.logo {
	cursor: pointer;
}

.footerInfo {
	color: gray; 
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.navigation {
	display: flex;
	justify-content: right;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	padding: 0;
}

.navigationItem {
	display: inline-flex;
	align-items: center;
	margin: 0 1em;
	color: var(--primary);
}

.navigationItem a {
	color: gray;
	text-decoration: none;
}

.navigationItem a:hover {
	color:var(--primary);
}

/* Logo size  */
@media (min-width: 1200px) {
	.logo, .logo img, .logo div {
		width: 300px;
		height: 150px;
	}
} 

@media (min-width: 760px) and (max-width: 1200px)
{
	.logo, .logo img, .logo div {
		width: 200px;
		height: 100px;
	}
}

@media (max-width: 760px)
{
	.logo, .logo img, .logo div {
		width: 200px;
		height: 100px;
		align-self: center;
	}
}

@media(max-width: 760px) {
	.footer
	{
		flex-direction: column;
	}

	.left
	{
		display: flex;
		flex-direction: column;
	}

	.navigation{
		flex-direction: column;
	}
	
	.navigationItem {
		justify-content: center;
	}
}  

@media(min-width: 760px) {
	
	.right
	{
		flex-grow: 1;
		float: right;
	}

	.footerTop
	{
		padding: 2vh 5vw 1vh 5vw;
		flex-direction: row;
		display: inline-flex;
	}

	.logo {
		flex-grow: 1;
	}

} 

.siteAuthor a
{
	color: rgb(122, 122, 122);
	text-decoration: none;
}

.credits 
{
	padding-left: 10px;
	text-align: right;
	text-decoration-color: rgb(66, 66, 66);
	font-size: 0.9em;
	margin: 0; 
	padding: 0 5vw 10px 0;
}

.credits > a 
{
	text-decoration: none;
}

.creditColor 
{
	color: rgb(66, 66, 66);
}

.credits:hover, .siteAuthor a:hover
{
	color: var(--primary);
}

.socialMedia {
	display: flex;  
	width: 100%;
	justify-content: center;
	flex-direction: row;
	height: 20px;
	align-items: center;
}

.socialMediaEntry {
	padding: 5px;
}

.socialMediaEntry img {
	width: 30px;
	opacity: 0.9;
}

.socialMediaEntry img:hover {
	width: 35px;
	opacity: 1.0;
}

