.footer {
	background-color: white;
	width: 100%;
	height: auto;
	margin: 0px;
	box-shadow: 0 0px 5px 2px var(--navigation_fade);
}

.footerTitle {
	color: var(--primary);
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.footerInfo {
	color: gray; 
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.navigation {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	height: auto;
	font-size: 1.25em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.navigationItem {
	display: inline-flex;
	align-items: center;
	margin: 0 1em;
	color: var(--primary);
}

.navigationItem a {
	color: gray;
	text-decoration: none;
}

.navigationItem a:hover {
	color:var(--primary);
}

@media(max-width: 760px) {
	.navigation{
		flex-direction: column;
		
	}
	
	.navigationItem {
		justify-content: center;
	}
}  

.siteAuthor a
{
	color: rgb(122, 122, 122);
	text-decoration: none;
}

.credits 
{
	padding-left: 10px;
	text-align: center;
	text-decoration-color: rgb(66, 66, 66);
	font-size: 0.9em;
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
}

.creditColor 
{
	color: rgb(66, 66, 66);
}

.credits:hover, .siteAuthor a:hover
{
	color: var(--primary);
}

.socialMedia {
	display: flex;  
	width: 100%;
	justify-content: center;
	flex-direction: row;
	height: 20px;
	align-items: center;
}

.socialMediaEntry {
	padding: 5px;
}

.socialMediaEntry img {
	width: 20px;
	opacity: 0.9;
}

.socialMediaEntry img:hover {
	width: 25px;
	opacity: 1.0;
}

