.footer {
	background-color: white;
	margin: 0;
	box-shadow: 0 -2px 1px 0px var(--navigation_fade);
	width: 100%;
}

.footerTop
{
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

.logo, .logoPadding {
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.left {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.footerInfo {
	color: gray; 
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.navigation {
	display: flex;
	justify-content: right;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	padding: 0;
}

.navigationItem {
	display: inline-flex;
	align-items: center;
	margin: 0 1em;
	color: var(--light_red);
}

.navigationItem a {
	color: gray;
	text-decoration: none;
}

.navigationItem a:hover {
	color:var(--light_red);
}


/* Logo size  */
@media (min-width: 1200px) {
	.logo {
		width: 150px;
		height: 150px;
	}
} 

@media (min-width: 900px) and (max-width: 1200px)
{
	.logo {
		width: 100px;
		height: 100px;
		align-self: center;
	}
	.logoPadding
	{
		padding: 15px 0;
	}
}

@media (max-width: 900px) { .navigation { display: grid;}}
@media (min-width: 760px) and (max-width: 900px) { .navigation { grid-template-columns: repeat(4, 2fr); }}
@media (min-width: 400px) and (max-width: 760px) { .navigation { grid-template-columns: repeat(3, 2fr); }}
@media (max-width: 400px) { .navigation { grid-template-columns: repeat(2, 2fr); }}

@media (max-width: 900px)
{
	.logo {
		width: 75px;
		height: 75px;
		align-self: center;
	}
	.logoPadding
	{
		padding: 15px 0;
	}

	.footer
	{
		flex-direction: column;
	}

	.left
	{
		display: flex;
		flex-direction: column;
	}
	
	.navigationItem {
		justify-content: center;
	}

	.credits
	{
		text-align: center;
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
}  

@media(min-width: 900px) {
	
	.right
	{
		flex-grow: 1;
		float: right;
	}

	.footerTop
	{
		padding: 2vh 5vw 1vh 5vw;
		flex-direction: row;
		display: inline-flex;
	}

	.logo {
		flex-grow: 1;
	}

	.credits {
		text-align: right;
		padding: 0 5vw 10px 0;
	}
	.credits > a {
		margin-right: 20px;
	}

} 

.siteAuthor a
{
	color: rgb(122, 122, 122);
	text-decoration: none;
}

.credits 
{
	padding-left: 10px;
	text-decoration-color: rgb(66, 66, 66);
	font-size: 0.8em;
	margin: 0; 
}

.credits > a 
{
	text-decoration: none;
}

.creditColor 
{
	color: rgb(66, 66, 66);
}

.credits > a:hover, .credits > button:hover, .siteAuthor a:hover
{
	color: var(--light_red);
}

.socialMedia {
	display: flex;  
	width: 100%;
	justify-content: center;
	flex-direction: row;
	margin-top: 5px;
	height: 30px;
	align-items: center;
}

.socialMediaEntry {
	padding: 5px;
}

.socialMediaEntry img {
	width: 30px;
	opacity: 0.9;
}

.socialMediaEntry img:hover {
	width: 35px;
	opacity: 1.0;
}



