.parent
{
    position: relative;
    height: calc(30vw);
    min-height: 350px;
    width: 100%;
    object-fit: contain;
    padding: 0;
    margin: 0;
}

.fluidImage img 
{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.fluidImage
{
    position: relative;
    width: 100%;
    height: 100%;
}

.textBox
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(109, 109, 109, 0.514);
}

.stripe 
{
    background-color: black;
}

.title
{
    margin: 2% 2%;
    line-height: 100%;
    color: white;
    font-size: 3.0em;
    text-align: center;
}

.subtitle
{
    margin: 2% 2%;
    text-align: center;
    color: white;
}
