@media (min-width: 760px)
{
    .innerContainer {
        width: auto;
        max-width: 1900;
        /* margin: 0 5vh 0 5vh;  */
    }
}

@media (max-width: 760px)
{
    .innerContainer {
        width: auto;
        max-width: 1920px;
        margin: 0 0; 
    }
}