.logo {
  height: 50px; 
  padding: 10px 0px;
  margin: 0px;
  background-color: black;
  width: 100%;
}

.logo h1 {
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-weight: 400;
}

.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
  font-size: 1.25em;
  width: 100%;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
  color: white;
}

.navigationItem a {
  color: white;
  text-decoration: none;
}

.navigationItem a:hover{
  color:rgb(0, 172, 172);
}

.closeItem {
  display: inline-flex;
  font-size: .9em;
  color: red;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.toggle {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
  color: white;
}

.sideBarParent {
  display: flex;
  flex-direction: column;
}

.sideBarNavigationItem {
  display: inline-flex;
align-items: center;
margin: 0 1em;
color: darkcyan;
}

@media(max-width: 760px) {
  .logo {
      position: fixed;
      z-index: 5;
      background-color: darkcyan;
  }

  .logo h1 {
    color: white;
  }

  .toggle {
      display: flex;
      justify-content: center;
      height: 50px;
      font-size: 1.25em;
      background-color: darkcyan;
      z-index: 5;
      width: 100%;
      margin: 0px;
      padding: 0px;
      position: fixed;
      top: 70px;
      background-color: black;
  }

  .navigation {
      flex-direction: column;
      height: auto;
      position: fixed;
      width: 100%;
      z-index: 1;
      background-color: black;
      /* visibility: hidden; */
  } 

  .navigationItem {
      justify-content: center;
      font-size: 1.25em;
  }
}

@media(min-width: 760px) {

  .closeItem {
    position: absolute;
    top: -100%;
  }

  .logo h1 {
    color: darkcyan;
  }

  .toggle {
      visibility: hidden;
      position: absolute;
      width: 0;
      top: -100%;
  }

  .navigation {
    background-color: black;
      max-height: 100px;

  }
}
