.popupBlocker 
{
    position: fixed;
    top: 0px; 
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: rgba(223, 223, 223, 0.774);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: default;
}

.open { 
    visibility: visible; 
    animation: fadeIn ease var(--popupFadeInDuration);
    -webkit-animation: fadeIn ease var(--popupFadeInDuration);
    -moz-animation: fadeIn ease var(--popupFadeInDuration);
    -o-animation: fadeIn ease var(--popupFadeInDuration);
    -ms-animation: fadeIn ease var(--popupFadeInDuration);
}

.invisible {
    visibility: hidden;
}

.closed { 
    animation: fadeOut ease var(--popupFadeOutDuration);
    -webkit-animation: fadeOut ease var(--popupFadeOutDuration);
    -moz-animation: fadeOut ease var(--popupFadeOutDuration);
    -o-animation: fadeOut ease var(--popupFadeOutDuration);
    -ms-animation: fadeOut ease var(--popupFadeOutDuration);
}

.escapeButton {
    color: var(--primary);
    top: 30px;
    right: 30px;
    display: flex;
    width: 125px;
    cursor: pointer;;
}

.escapeButton:hover {
    text-decoration: underline;
}

.popup
{
    pointer-events: all;
    max-width: 60vw;
    padding: 20px;
    background-color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    cursor: default;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.popupContent 
{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.button 
{
    clear:both; 
    background-color: var(--primary);
    border: 0 none;
    border-radius:4px;
    letter-spacing:.03em; 
    color: #FFFFFF; 
    cursor: pointer; 
    display: inline-block; 
    font-size:15px; 
    height: 30px; 
    line-height: 0px; 
    margin: 0 5px 0px 0; 
    padding:10px; 
    text-align: center; 
    text-decoration: none; 
    vertical-align: top; 
    white-space: nowrap;  
    transition: all 0.23s ease-in-out 0s;
}

.button:hover {background-color:rgb(236, 12, 12);}

.popup input:focus {border-color:#333;}

.popup h2 {
    margin-top: 0px; 
    margin-bottom: 10px; 
    color: var(--primary); 
    display:block; 
    font-size:1.0em;
    padding-bottom:10px; 
}

.emailBox > input {
    font-size: 1.0em;
    width: 90%;
    display:block; 
    padding:0 0.4em; 
    margin:0 4% 10px 0; 
    min-height:32px; 
    min-width:100px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
}

@keyframes fadeIn {
    0% { opacity:0; } 100% { opacity:1; } 
}

@-moz-keyframes fadeIn {
    0% { opacity:0; } 100% { opacity:1; } 
}

@-webkit-keyframes fadeIn {
    0% { opacity:0; } 100% { opacity:1; } 
}

@-o-keyframes fadeIn {
    0% { opacity:0; } 100% { opacity:1; } 
}

@-ms-keyframes fadeIn {
    0% { opacity:0; } 100% { opacity:1; } 
}

@keyframes fadeOut {
    100% { opacity:0; visibility: hidden;} 0% { opacity:1; } 
}

@-moz-keyframes fadeOut {
    100% { opacity:0; visibility: hidden;} 0% { opacity:1; } 
}

@-webkit-keyframes fadeOut {
    100% { opacity:0;visibility: hidden; } 0% { opacity:1; } 
}

@-o-keyframes fadeOut {
    100% { opacity:0; visibility: hidden;} 0% { opacity:1; } 
}

@-ms-keyframes fadeOut {
    100% { opacity:0; visibility: hidden; } 0% { opacity:1; } 
}
