.screenContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 760px) {
    .enforceHeight 
    {
        padding: 10vh 0;
    }
}

@media (max-width: 760px) {
    .enforceHeight 
    {
        padding: 5vh 0;
    }
}