.filterContainer
{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 30px 15px;
    gap: 5px;
}

.filterTitle 
{
    margin: 0px;
    color: var(--primary);
}

.dropdownRoot
{
    max-width: 300px;
}

.dropdownArrow
{
    margin-top: 3px;
}

.activeTagContainer, .blogTagContainer
{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.selectTagButton {
    font-size: 1.5em;
    margin: 0px auto 0px auto;
    align-self: center;
}

.selectTagButton:hover {
    pointer-events: all;
    cursor: pointer;
    text-shadow:0px 0px 5px var(--primary);
    color: var(--primary_darker)
}

.activeTag, .blogTag, .clickableBlogTag
{
    display: flex;
    gap: 5px;
    border-radius: 20px;
    margin: 0px;
    line-height: 1px;
    padding: 0px 15px 0px 15px;
}

/* Styling for tag items that are seen under each article title*/
.blogTag, .clickableBlogTag {
    background-color: rgb(212, 212, 212);
    color: rgb(109, 109, 109); 
    cursor: pointer;
}

.clickableBlogTag:hover {
    background-color: var(--primary);
    color: white;
}

/* Styling when currently not selected for filtering */
.unselectedTag {
    background-color: lightgray;
    color: var(--primary);
}

/* Styling when currently selected for filtering */
.selectedTag {
    background-color: var(--primary);
    color: white; 
}
