.parentContainer
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.awardContainer 
{
    display: flex;
}

.infoContainer h3, .infoContainer h5
{
    margin-top: 5px;
}

@media(min-width: 760px)
{
    .awardContainer 
    {
        flex-direction: row;
    }
    .image, .image img
    {
        min-width: 400px;
        max-width: 400px;
        margin-right: 30px;
    }
}

@media(max-width: 760px)
{
    .awardContainer 
    {
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
    }
    
    .image, .image img
    {
        width: 90vw;
        max-width: 400px;
        margin: 0px;
    }

    .infoContainer
    {
        text-align: center;
    }
}



.infoContainer
{
    display: flex;
    flex-direction: column;
}

.infoContainer h5
{
    color: rgb(105, 105, 105);
}