.description {
    padding-bottom: 50px;
}

.description h3 
{
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 0px;
}

.description h5 
{
  text-align:  center;
}

.description img 
{
  max-height: 300px;
}

.pdfLink:hover 
{
  text-decoration: underline;
  cursor: pointer;
}

.pdfLink
{
  color: var(--light_red);
  text-decoration: none;
}
