.layoutHeader 
{
    margin-top: 0;
    font-weight: bold;
}

.header 
{
    display: flex;
    flex-direction: row;
}

.cartFull
{
    visibility: visible;
    height: auto;
}

.cartEmpty 
{
    visibility: hidden;
    height: 0;
}

.cartList
{
    display: flex;
    flex-direction: column;
}

.totalBar
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.totalTitle
{
    width: calc(85%);
}

.totalTitle > p
{
    font-size: 14px;
    padding-right: 15px;
    font-weight: bold;
    text-align: right;
}

.totalNumber
{
    font-size: 18px;
    width: 10%;
}

.emptyCart 
{
    height: 60vh;
}

.memberDiscountInfo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.memberDiscountInfo > p
{
    margin: 0px 10px;
}

.memberDiscountInfo a
{
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
}

@media (hover: hover) and (pointer: fine) 
{
    .memberDiscountInfo a:hover
    {
        text-decoration: underline;
    }
}

.memberDiscountBox
{
    margin-left: 40px;
}

.memberDiscountBox > input:checked ~ .checkmark
{
    background-color: var(--light_red);
}

.memberDiscountBox > label
{
    font-size: 14px;
}

.proceedToCheckout > p 
{
    text-align: center;
}

.header 
{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(109, 109, 109);
}

.name, .price, .count, .total
{
    margin-bottom: 10px;
    align-items: center;
}

.checkoutText > span 
{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

.checkoutText > p 
{
    font-size: 14px;
    margin: 2px auto;
}

@media (min-width: 500px)
{
    .name, .price, .count, .total
    {
        font-size: 20px;
    }
    .infoIcon
    {
        min-width: 32px;
        min-height: 32px;
    }
    .layout 
    {
        align-items: center;
    }
    .checkoutStep > div, .checkoutStep > div > div
    {
        padding: 0 5px;
    }
    .cartFull, .cartEmpty 
    {
        display: inline-block;
        width: 55%;
        box-sizing: border-box;
        margin: 15px;
        padding: 15px;
    }
    .checkoutPane
    {
        background-color: rgb(239, 239, 239);
        border-radius: 5px;
        display: inline-flex;
        flex-direction: column;
        vertical-align: top;
        box-sizing: border-box;
        width: 35%;
        margin: 15px;
        padding: 15px;
    }
}

@media (max-width: 500px)
{
    .name, .price, .countHeader > p, .total
    {
        font-size: 16px;
    }
    .infoIcon
    {
        min-width: 32px;
        min-height: 32px;
    }
    .checkoutStep
    {
        width: 100%;
    }
    .checkoutStep > div, .checkoutStep > div > div
    {
        padding: 0 5px;
    }
}

.name
{
    width: 40%;
}

.price
{
    width: 15%;
}

.countHeader
{
    width: 30%;
    display: flex;   
    justify-content: center;
}

.total
{
    width: 10%;
}

.buttonRow 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonRow > div 
{
    margin: 0 5px;
}

.copyOrderDetails
{
    background-color: var(--dark_turq) !important;
}

