.contactDetails div h4 {
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--primary);
}

.contactDetails div p {
    margin-top: -30px;
    margin-top: -30px;
    margin-left: 50px;
}


.contactDetails div a {
    margin-top: -30px;
    margin-top: -30px;
    margin-left: 50px;
    font-size: 1.2em;
}

.socialMedia {
    display: grid;
    width: 100%;
    column-count: 2;
}

.socialMediaEntry {
    width: fit-content;
}

.socialMedia div img {
    width: 50px;
    height: 50px;
}

.socialMediaEntry a {
    display: flex;
    align-items: center;
}

.socialMediaEntry a p {
    margin-left: 20px;
}

.socialMediaEntry a:hover {
    color: var(--primary);
    
    text-decoration-color: var(--primary)
}

@media(min-width: 760px)
{
    .socialMedia { 
        padding-left: 50px;
    }
}

.contactDirectly {
    margin: 15px 0px 5px 0px;

}

.contactDirectly h3
{
    font-size: 1.5em;
}


@media (min-width: 760px)
{
    .contactDirectly a {
        display: inline-flex;
        justify-content: left;
        padding-left: 50px;
    }

    .contactDirectly {
        display: inline-flex;
        align-content: center;
    }

    .contactDirectly h3 {
        text-justify: center;
        text-align: center;
    }
}

@media (max-width: 760px)
{
    .contactDirectly h3 {
        text-align: center;
    }

    .contactDirectly a {
        justify-content: center;
    }
}

