.contactDetails div h4 {
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--light_red);
}

.contactDetails div p {
    margin-top: -30px;
    margin-top: -30px;
    margin-left: 50px;
}


.contactDetails div a {
    margin-top: -30px;
    margin-top: -30px;
    margin-left: 50px;
    font-size: 1.2em;
    
}

.socialMedia {
    display: grid;
    width: 100%;
    column-count: 2;
}

.socialMediaEntry {
    width: fit-content;
}

.socialMedia div img {
    width: 50px;
    height: 50px;
}

.socialMediaEntry a {
    display: flex;
    align-items: center;
    width: max-content;
}

.socialMediaEntry a p {
    margin-left: 20px;
    display: flex;
}

.socialMediaEntry svg {
    margin-left: 5px;
}

.socialMediaEntry a:hover {
    color: var(--light_red);
    text-decoration-color: var(--light_red)
}

@media(min-width: 760px)
{
    .socialMedia { 
        padding-left: 50px;
    }
}

.contactDirectly h3
{
    font-size: 1.5em;
}


@media (min-width: 760px)
{
    .contactDirectly {
        display: block ruby;
    }

    .contactDirectly h3 {
        margin-right: 50px;
        text-align: center;
    }
}

@media (max-width: 760px)
{
    .contactDirectly h3 {
        text-align: center;
    }
}

