.contactDetails div h4 {
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--primary);
}

.contactDetails div p {
    margin-top: -30px;
    margin-top: -30px;
    margin-left: 50px;
}

.contactDetails div a {
    margin-top: -30px;
    margin-top: -30px;
    margin-left: 50px;
    font-size: 1.2em;
}