.sponsorsGrid 
{
    display: grid;
    overflow: visible;
    
}

@media(min-width: 760px)
{
    .sponsorsGrid
    {
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    } 
}

@media(max-width: 760px)
{
    .sponsorsGrid
    {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    } 
}

.titles 
{
    text-align: center;
}

.pitchStyle
{
    font-weight: bold;
}