.sponsorsGrid 
{
    display: grid;
    flex-wrap: wrap;
    align-items: top;
    overflow: visible;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media(max-width: 760px)
{
    .sponsorsGrid
    {
        flex-direction: row;
    } 
}

@media(max-width: 760px)
{
    .sponsorsGrid
    {
        flex-direction: column;
    } 
}

.titles 
{
    text-align: center;
}

.pitch 
{
    font-weight: bold;
}