@media(min-width: 760px)
{
    .catalogue
    {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        row-gap: 15px;
        column-gap: 15px;
    }

}

@media(min-width: 1000px)
{

    .headerLayout
    {
        display: flex;
        width: 100%;
        justify-content: right;
        align-items: center;
    }

    .headerText
    {
        width: 30%;
        height: 100%;
        padding: 30px;
    }

    .headerImage 
    {
        display: grid;
        align-items: center;
        width: 70%;
        height: 500px;
    }

    .subtitle
    {
        margin: 0;
    }

    .description
    {
        font-size: 18px;
    }
}

.catalogueTitle
{
    text-align: center;
    color: var(--light_red);
}

.headerImage img, .headerImage div
{
    width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.headerImage > div
{
    justify-self: center;
}

.subtitle
{
    color: var(--light_red);
}

@media(max-width: 760px)
{
    .catalogue
    {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 1000px)
{
    .headerLayout
    {
        display: flex;
        flex-direction: column;
    }

    .subtitle
    {
        margin: 30px 0 0 0;
    }
}

