.executiveList {
    display: grid;
    align-items: top;
    grid-auto-columns: auto;
    overflow: visible;
    height: auto;
}

@media (min-width: 760px) {
    .executiveList {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 760px) {
    .executiveList {
        grid-template-columns: 1fr 1fr;
    }
}

.teamTitle {
    text-align: center !important;
}
