.positionList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: auto;
    gap: 10px;
    overflow: visible;
    height: auto;
}

@media (min-width: 1024px) {
    .positionList {
        margin: calc(3vw);
    }
}

@media (max-width: 1024px) {
    .positionList {
        margin: 0px; 
    }
}
