.sponsorContainer 
{
    display: flex;
    align-items: center;
    
}

.infoContainer h3, .infoContainer h5
{
    margin-top: 5px;
}

.imageSpacing
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 760px)
{
    .parentContainer
    {
        display: flex;
        align-content: center;
        width: 250px;
    }

    .sponsorContainer 
    {
        flex-direction: column;
        margin: 20px;
    }

    .image, .image img
    {
        min-width: 250px;
        max-width: 250px;
        max-height: 150px;
        margin: 0px;;
    }

    .imageSpacing 
    {
        height: 150px;
        width: 100%;
    }

    .description
    {
        max-width: 450px;
    }
}

@media(max-width: 760px)
{
    .sponsorContainer 
    {
        flex-direction: column;
        margin: 40px 10px;
    }
    
    .image, .image img
    {
        min-width: 250px;
        max-width: 250px;
        max-height: 100px;
        margin: 0px;
    }

    .imageSpacing 
    {
        height: 100px;
        width: 100%;
    }
}

.description
{
    text-align: center;
    color: rgb(78, 78, 78);
}

.mainLink svg {
    height: 1.1em;
}

.mainLink {
    align-content: center;
    font-size: 18px;
}

.links, .mainLink
{
    text-align: center;
    
}
.links > p
{
    display: inline-flex;
    flex-direction: column;
    font-size: 16px;
}
