.parentContainer
{
    display: grid;
    margin: 30px;
    justify-content: center;
}

.awardContainer 
{
    display: flex;
    align-items: center;
}

.infoContainer h3, .infoContainer h5
{
    margin-top: 5px;
}

@media(min-width: 760px)
{
    .parentContainer
    {
        display: flex;
        align-content: center;
        width: 250px;
    }

    .awardContainer 
    {
        flex-direction: row;
        justify-content: center;
        margin: 0px 20px;
    }
    .image, .image img
    {
        min-width: 250px;
        max-width: 250px;
        max-height: 150px;
        margin: 0px;;
    }
}

@media(max-width: 760px)
{
    .awardContainer 
    {
        flex-direction: column;
    }
    
    .image, .image img
    {
        min-width: 250px;
        max-width: 250px;
        max-height: 100px;
        margin: 0px;
    }

    .infoContainer
    {
        text-align: center;
    }
}

.infoContainer
{
    display: flex;
    flex-direction: column;
}

.infoContainer h5
{
    color: rgb(105, 105, 105);
}